.blogBanner {
    position: relative;
    width: 100%;
    height: 600px;
    //line-height: 300px;
    font-size: 50px;
    //color: #fff;
    word-spacing:10px;
    text-align: center;
    background: url("http://blogimg-1253575000.cossh.myqcloud.com/BlogImgLarge.png?sign=hnwNGBZANSV79a4OsPJyMA4U8LBhPTEyNTM1NzUwMDAmaz1BS0lEVHZBQnpaajF0WHc2MGV2QTFjeTR2V3UydVdzeXNEemEmZT0xNDk0OTMyMzUyJnQ9MTQ5MjM0MDM1MiZyPTIzMTQ1MjY2JmY9L0Jsb2dJbWdMYXJnZS5wbmcmYj1ibG9naW1n") center center no-repeat;
    //filter: blur(3px);
    background-size: cover;
    /*    transition: all 1s linear;
        transform-origin: 50%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        color: #fff;
        width: 200px;
        line-height: 50px;
        transition: all .3s linear;
        transform-origin: 50%;
        user-select:none;
    }
    .title {
        display: block;
    }
    .subtitle {
        display: block;
        font-size: 20px;
        line-height: 30px;
    }
    @media screen and (max-width:600px){
        .title {
            color: #fff;
            font-size: 36px;
            line-height: 50px;
        }
        .subtitle {
            color: #fff;
            font-size: 20px;
            line-height: 24px;
        }
    }

    @media screen and (max-width: 1080px) {
        & {
            height: 500px;
            background: url("http://blogimg-1253575000.cossh.myqcloud.com/BlogImgMiddle.png?sign=HNgExbqiVba85ZN9HpZfauaop8thPTEyNTM1NzUwMDAmaz1BS0lEVHZBQnpaajF0WHc2MGV2QTFjeTR2V3UydVdzeXNEemEmZT0xNDk0OTMyMzUyJnQ9MTQ5MjM0MDM1MiZyPTI1MTgxNDQ0OSZmPS9CbG9nSW1nTWlkZGxlLnBuZyZiPWJsb2dpbWc=") center center no-repeat;
        }
    }
    @media screen and (max-width: 750px) {
        & {
            height: 400px;
            background: url("http://blogimg-1253575000.cossh.myqcloud.com/BlogImgSmall.png?sign=CJlsrah81lQPwPNKg+SdZeMwxoZhPTEyNTM1NzUwMDAmaz1BS0lEVHZBQnpaajF0WHc2MGV2QTFjeTR2V3UydVdzeXNEemEmZT0xNDk0OTMyMzUyJnQ9MTQ5MjM0MDM1MiZyPTEwMTUzMDc5NTQmZj0vQmxvZ0ltZ1NtYWxsLnBuZyZiPWJsb2dpbWc=") center center no-repeat;
        }
    }
    @media screen and (max-width: 450px) {
        & {
            height: 300px;
            background: url("http://blogimg-1253575000.cossh.myqcloud.com/BlogImgApp.png?sign=nA9+cFbf60GC9owWKFKVKBSJwZFhPTEyNTM1NzUwMDAmaz1BS0lEVHZBQnpaajF0WHc2MGV2QTFjeTR2V3UydVdzeXNEemEmZT0xNDk0ODY4MzQzJnQ9MTQ5MjI3NjM0MyZyPTM5OTAzNjYwNSZmPS9CbG9nSW1nQXBwLnBuZyZiPWJsb2dpbWc=") center center no-repeat;
        }
    }
}



.blogWrap {
    display: flex;
    width: 90%;
    margin: 20px auto;
    box-sizing: border-box;
    .blog {
        flex:1;
        transition: all 1s ease;
        min-height: 600px;
        box-sizing: border-box;
        .tagsApp {
            display: none;
        }
    }

    .tags {
        flex:0 0 180px;
        margin-right:40px;
    }
    @media screen and (max-width: 750px) {
        .tags {
            display: none;
        }
    }
    @media screen and (max-width: 600px) {
        & {
            width: 100%;
        }
    }
}

