.blogWrap {
    display: flex;
    width: 90%;
    margin: 20px auto;
    box-sizing: border-box;
    .blog {
        flex:1;
        transition: all 1s ease;
        min-height: 600px;
        box-sizing: border-box;
        .tagsApp {
            display: none;
        }
    }

    .tags {
        flex:0 0 180px;
        margin-right:40px;
    }
    @media screen and (max-width: 768px) {
        .tags {
            display: none;
        }
    }
    @media screen and (max-width: 600px) {
        & {
            width: 100%;
        }
    }
}

