.page {
    max-width: 820px;
    margin:0 auto;
    padding: 20px;
    min-height: 500px;
    -webkit-animation:appear 1s linear;
    -o-animation:appear 1s linear;
    animation:appear 1s linear;
}
@media screen and (max-width:600px) {
    .page {
        padding: 4px;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}