.index {
    .mainContent {
        margin-top: 50px;
        min-height: calc(100vh - 150px);
    }

/*    @media screen and (max-width:600px) {
        .mainContent {
            min-height: calc(100vh - 100px);
        }
    }*/
}

