html,body,h1,ul,p {
    margin:0;
    padding:0;
}

ul {
    list-style: none;
}


body {
    height: 2000px;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif;
}

