header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    z-index: 20;
    box-sizing: border-box;
    border-top: 2px solid #57bae8;
    background-color: #fafafb;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    .wrap {
        width: 90%;
        margin: 0 auto;
    }
    h1 {
        float: left;
        font-size: 20px;
        color: #666;
        width: 50px;
        .link {
            text-decoration: none;
            color: #666;
        }
    }

    .profile {
        float: right;
        text-align: center;
        width: 100px;
        span {
            display: inline-block;
            height: 30px;
            margin: 10px 0;
            line-height: 30px;
            color: #57bae8;
            padding: 0 5px;
            cursor: pointer;
        }
        span:hover {
            background-color: rgba(0,119,204,.1);
        }
    }
    .login-icon {
        display: block;
    }
    .register-icon + .login-icon {
        border-left: 1px solid rgba(54,100,232,.5);
    }

    .avatar {
        float: right;
        text-align: center;
        cursor: pointer;
        width: 100px;
        color: #57bae8;
        .photo {
            width: 26px;
            height: 26px;
            vertical-align: middle;
        }
        .user-name {
            padding: 0 5px;
            cursor: pointer;
            vertical-align: middle;
        }
        .user {
            line-height: 48px;
            height: 48px;
        }

        &:hover {
            background-color: rgba(100,100,100,.2);
            .user {
                background-color: rgba(120,120,120,.2);
            }
            .menu {
                height: 60px;
            }
        }

    }
    .menu {
        //display: block;
        box-sizing: border-box;
        height: 0;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
        overflow: hidden;
        background-color: rgba(100,100,100,.2);
        color: #fff;
        .menuItem {
            box-sizing: border-box;
            line-height: 30px;
            height: 30px;
            border-top: 1px solid #ccc;
        }
        .menuItem:hover {
            color: #57bae8;
            background-color: rgba(100,100,100,.2);
        }
/*        &:after {
            content: "";
            border-top: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
            border-left: 10px solid transparent;
            position: absolute;
            top: -20px;
        }*/
    }

    @media screen and (min-width:601px){
        nav {
            float: left;
            .nav-item {
                display: inline-block;
            }
            .link {
                box-sizing: border-box;
                height: 48px;
                display: block;
                text-decoration: none;
                padding:0 8px;
                color: #333;
            }
            .link:hover {
                background-color: #eee;
            }
            .active {
                border-bottom: 2px solid #57bae8;
            }
        }
    }

    @media screen and (max-width:600px){
        .wrap {
            width: 100%;
        }
        h1 {
            padding-left: 50px;
        }
        .nav-app {
            position: absolute;
            left: 0;
            top:0;

            .icon-category {
                display: block;
                background: url("./category.png") center center no-repeat;
                background-size:30px 30px;
                width: 48px;
                height: 48px;
            }
            &:hover{
                .nav {
                    height: 120px;
                }
            }
            .nav {
                text-align: center;
                background-color: rgba(100, 100, 100, 0.2);
                height: 0;
                overflow: hidden;
                -webkit-transition: .3s linear;
                -moz-transition: .3s linear;
                -o-transition: .3s linear;
                transition: .3s linear;
            }
            .link:hover {
                background-color: #2695ee;
                color: #fff;
            }
            .nav-item {
                box-sizing: border-box;
                line-height: 30px;
                height: 30px;
                width: 100px;
                border-top:1px solid #ccc;
            }

            .link {
                display: block;
                text-decoration: none;
                color: #fff;
                font-size: 14px;
            }
        }
    }


}

