.retBtnWrap{
    max-width: 820px;
    margin: 20px auto;
    .retBtn {
        padding: 10px 16px;
        background-color: #57bae8;
        color: #fff;
        font-size: 18px;
        border-radius: 4px;
    }
}

.article {
    max-width: 820px;
    margin: 20px auto;
    border-top: 2px solid #57BAE8;
    background-color: #fff;
    min-height: calc(100vh - 350px);
    article {
        display: flex;
    }
    .left {
        padding:10px 20px;
        text-align: center;
        background-color: #eee;
        .avatar {
            display: block;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }

        .author {
            padding-top: 10px;
        }
    }
    .left:hover .author{
        color: #07c;
    }


    .main {
        flex: 1;
        padding-top: 10px;
        overflow: auto;
        font-size: 16px;

        pre {
            font-family: monospace, monospace;
            font-size: 1em;
        }
        p {
            display: block;
            margin:1em 0;
        }
        ul, menu, dir {
            display: block;
            list-style-type: disc;
            margin:1em 0;
            padding-left: 40px;
        }


        h1 {
            text-align: center;
            line-height: 40px;
            font-size: 24px;
        }
        .delArt {
            display: inline;
            color: #666;
            cursor: pointer;
            margin-left: 10px;
        }
        .editArt {
            display: inline;
            margin-left: 10px;

            .link {
                text-decoration: none;
                color: #666;
                cursor: pointer;
            }

        }
        .content {
            padding: 10px;
            min-height: 200px;
        }
        code {
            word-wrap: break-word;
            word-break: break-all;
        }
        .info {
            text-indent: 2em;
            line-height: 24px;
        }
        .author-app {
            display: none;
        }
    }


    .comment-item{
        border-top: 2px solid #fff;
        display: flex;
        word-break: break-all;
        .delete {
            float: right;
            cursor: pointer;
            padding-right: 20px;
        }
        .delete:hover {
            color: #db587e;
        }
        .content {
            min-height: 100px;
        }
        .info {
            line-height: 24px;
        }
    }

    .commentForm {
        padding-top: 20px;
        border-top: 2px solid #57BAE8;
        display: flex;
        .photo  {
            width: 50px;
            height: 50px;
            padding:10px 20px;
        }
        .loginComment {
            width: 50px;
            height: 50px;
            padding:10px 20px;
            cursor: pointer;
        }
        .loginComment:hover {
            color: #57BAE8;
        }
        .input-text {
            flex:1;
            margin-right:20px;
        }
        .content {
            width: 100%;
            min-height: 80px;
            resize: none;
        }
        .submit {
            width: 30px;
            margin-top: 10px;
            padding: 4px 6px;
            background-color: #2780ff;
            color: #fff;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 600px) {
        .left {
            display: none;
        }
        .main {
            padding: 10px;
            .author-app {
                text-indent: 0;
                display: inline-block;
                padding-right: 10px;
                color: #07c;
                cursor: pointer;
            }
        }
        .photo{
            display: none;
        }
        .input-text {
            margin:0 20px;
        }

    }
}