.publish {
    padding: 20px;
    .publishItem {
        box-sizing: border-box;
        //margin:20px 0;
    }
    label {
        float: left;
        width: 30%;
        line-height: 40px;
        height: 40px;
        opacity: 1;
    }
    input,textarea {
        box-sizing: border-box;
        display: block;
        outline: none;
        width: 100%;
    }
    input {
        height: 30px;
    }
    textarea {
        resize: none;
    }
    .publishBtn {
        display: block;
        width: 100px;
        cursor: pointer;
        border: none;
        background-color: #2a86ff;
        color: #fff;
        font-weight: bold;
        height: 40px;
        line-height: 40px;
        border-radius: 6px;
        margin: 20px auto 0;
    }
}