.chatList {

    .chatItem{
        height: 40px;
        line-height: 40px;
    }
    .chatAvatar {
        width: 30px;
        height: 30px;
        vertical-align: middle;
    }
    .chatName {
        vertical-align: middle;
    }
}