.blogItem {
    box-sizing: border-box;
    //width: 90%;
    padding: 10px;
    border:1px solid #ccc;
    background-color: #fff;
    margin:50px 30px;
    h2 {
        font-size: 24px;
        line-height: 30px;
        font-weight: normal;
    }
    .link {
        color: #404040;
    }
    .summary {
        color: #a3a3a3;
        margin: 15px 0;
    }
    .info {
        color: #666;
        span {
            margin-right: 20px;
        }
    }
}