.banner {
    width: 100%;
    height: 300px;
    line-height: 300px;
    font-size: 50px;
    colr: #fff;
    word-spacing:10px;
    text-align: center;
    background: url("banner.jpg") center center no-repeat;
    //filter: blur(3px);
    background-size: cover;
    margin-top: 50px;
}