footer {
    height: 100px;
    width: 100%;
    background-color: #7daad6;
    color: #fff;
    text-align: center;
    line-height:100px;
    user-select:none;
}

/*
@media screen and (max-width:600px) {
    footer {
        height: 50px;
        line-height:50px;
        background-color: #fff;
        color:#333;
    }
}*/
