
@media screen and (min-width: 601px) {
    .chatwrap {
        background: url("http://blogimg-1253575000.cossh.myqcloud.com/ChartLarge.png?sign=RA41i9Fz6ok3TJd9qVm92dD/Xo1hPTEyNTM1NzUwMDAmaz1BS0lEVHZBQnpaajF0WHc2MGV2QTFjeTR2V3UydVdzeXNEemEmZT0xNDk0OTMyMDQwJnQ9MTQ5MjM0MDA0MCZyPTE5NDM4ODk2OCZmPS9DaGFydExhcmdlLnBuZyZiPWJsb2dpbWc=");
        background-size:cover;
        min-height: calc(100vh - 110px);
        display: flex;
        justify-content: center;
        align-items:center;
    }

    .chat {
        display: flex;
        width: 840px;
        padding: 50px 0;


        .chatList {
            flex:0 0 200px;
            background-color: rgba(106,182,221,0.3);
            position: relative;
            color: #fff;
            font-weight: bold;
        }
        .tab-bullet {
            display: inline-block;
            text-align: center;
            height: 50px;
            line-height: 50px;
            cursor: pointer;
            width: 50%;
            position: relative;
            /*        imgs {
                        position: absolute;
                        top:50%;
                        left:50%;
                        margin-left: -16px;
                        margin-top: -16px;
                        width: 32px;
                        height: 32px;
                    }*/
        }
        .tab-bullet-one {
            background: url("./chat.png") center center no-repeat;
            background-size:30px 30px;
        }
        .tab-bullet-two {
            background: url("./user.png") center center no-repeat;
            background-size:30px 30px;
        }
        #tab-1:checked ~ .tab-bullet-one {
            background: url("./chatHover.png") center center no-repeat;
        }
        #tab-2:checked ~ .tab-bullet-two {
            background: url("./userHover.png") center center no-repeat;
        }
        .tab-open {
            display: none;
        }
        #tab-1:checked ~ .tab-1 {
            position: static;
            opacity: 1;
            -webkit-transition: opacity 0.6s ease-out;
            transition: opacity 0.6s ease-out;
        }
        #tab-2:checked ~ .tab-2 {
            position: static;
            opacity: 1;
            -webkit-transition: opacity 0.6s ease-out;
            transition: opacity 0.6s ease-out;
        }

        .tab-item {
            position: absolute;
            opacity: 0;
        }

        .chatTalkList{
            line-height: 50px;
            height: 50px;
            text-align: center;
            background-color: rgba(106,182,221,0.8);
            font-size: 16px;
        }

        .chatMain{
            flex:0 0 600px;
            display: flex;
            flex-direction: column;
            position: relative;
            background-color: #f7f7f7;
            padding: 20px;
        }
        .userInfo {
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: #f7f7f7;
            display: none;
        }
        .userInfoTitle {
            height: 80px;
            line-height: 80px;
            font-size: 18px;
            margin:0 30px;
            border-bottom: 1px solid #666;
        }
        .avatar {
            padding: 10px;
            width: 50px;
            height: 50px;
        }
        .sendMsg {
            width: 100px;
            height: 40px;
            border: none;
            color: #fff;
            font-weight: bold;
            outline: none;
        }


        .chatWindow {
            box-sizing: border-box;
            //border:10px solid #ddd;
            height: 400px;
            overflow: auto;
            padding-bottom: 10px;

            .userLength {
                display: none;
            }
        }
        .chatBtns {
            height: 36px;
            border-top: 1px solid #d6d6d6;
        }
        .chatClear {
            padding-top: 6px;
            width: 24px;
            height: 24px;
            cursor: pointer;
        }
        .chatText {
            height: 150px;
        }
        .chatInput {
            box-sizing: border-box;
            width: 100%;
            height: 120px;
            outline:none;
            border: none;
            font-size: 14px;
            color:#333;
            background-color: #f7f7f7;
        }
        .chatTip {
            float: right;
            padding-top: 10px;
            padding-right: 6px;
            font-size: 12px;
            color: #888;
        }
        .chatSend {
            float: right;
            padding: 6px 30px;
            background-color: #fff;
            color: #222;
            border:1px solid #c1c1c1;
            border-radius: 6px;
            outline: none;
            cursor: pointer;
            &:hover {
                background-color: #eee;
            }
        }
        .chatSend-app {
            display: none;
        }
    }
}


@media screen and (max-width: 600px) {
    .chatwrap {
        position: relative;
        margin-bottom: -100px;
        background-color: #f7f7f7;
    }
    .chat {
        .chatList {
            display: none;
        }
        .chatMain{
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            height: calc(100vh - 50px);
            padding: 4px;
        }
        .chatWindow {
            flex: 1;
            padding-bottom: 10px;
            overflow: auto;
            .userLength{
                text-align: center;
                color: #666;
            }
        }

        .chatBtns {
            display: none;
        }
        .chatText {
            position: relative;
            border-top:1px solid #d6d6d6;

            .chatInput {
                //box-sizing: border-box;
                padding: 0 ;
                border: none;
                width: 88%;
                line-height: 30px;
                height: auto;
                overflow-y:hidden;
                word-break: break-all;
                outline: none;
            }
            .chatTip,.chatSend {
                display: none;
            }
            .chatSend-app {
                position: absolute;
                right: 6px;
                bottom: 1px;
                width: 30px;
                height: 30px;
                background: url("./send.png") center center no-repeat;
                cursor: pointer;
            }
        }

    }
}