.blogArticle {
    flex:1;
    margin:50px 30px;
    article {
        margin-bottom: 30px;
        background-color: #fff;
        border: 1px solid #ccc;
        word-break: break-all;

    }
    .main {
        flex: 1;
        padding: 20px;
        overflow: auto;
        .delArt {
            display: inline;
            color: #666;
            cursor: pointer;
            margin-left: 10px;
        }
        .editArt {
            display: inline;
            margin-left: 10px;

            .link {
                text-decoration: none;
                color: #666;
                cursor: pointer;
            }

        }
        .content {
            padding: 10px;
            min-height: 200px;
            margin-bottom: 40px;
        }
/*        code {
            word-wrap: break-word;
            word-break: break-all;
        }*/
        .info {
            line-height: 24px;
        }
        .author-app {
            display: none;
        }
    }


    .left {
        padding:10px 20px;
        text-align: center;
        background-color: #eee;
        .avatar {
            display: block;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }

        .author {
            padding-top: 10px;
        }
    }
    .left:hover .author{
        color: #07c;
    }


    .comment-item{
        background-color: #fff;
        border: 1px solid #ccc;
        border-bottom: none;
        display: flex;
        word-break: break-all;
        .delete {
            float: right;
            cursor: pointer;
            padding-right: 20px;
        }
        .delete:hover {
            color: #db587e;
        }
        .commentMain {
            min-height: 100px;
        }
        .info {
            line-height: 24px;
        }
    }

    .commentForm {
        padding: 20px 0;
        margin-bottom: 30px;
        background-color: #fff;
        border: 1px solid #ccc;
        display: flex;
        .photo  {
            width: 50px;
            height: 50px;
            padding:10px 20px;
        }
        .loginComment {
            width: 50px;
            height: 50px;
            padding:10px 20px;
            cursor: pointer;
        }
        .loginComment:hover {
            color: #57BAE8;
        }
        .input-text {
            flex:1;
            margin-right:20px;
        }
        .content {
            width: 100%;
            min-height: 80px;
            resize: none;
        }
        .submit {
            width: 30px;
            margin-top: 10px;
            padding: 4px 6px;
            background-color: #2780ff;
            color: #fff;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 600px) {
        .left {
            display: none;
        }
        .main {
            padding: 10px;
            .author-app {
                text-indent: 0;
                display: inline-block;
                padding-right: 10px;
                color: #07c;
                cursor: pointer;
            }
        }
        .photo{
            display: none;
        }
        .input-text {
            margin:0 20px;
        }

    }
}